.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-container {
  margin-top: 2vh;
  display: grid;
  gap: 2vw;
}

.msg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  width: 70vw;
  margin: auto;
}

span {
  max-width: 300px;
  overflow: auto;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
